/* ----- TEST BACKGROUND COLOR ----- */
.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

/* ----- OFTEN USED ----- */

.pv-50 {
  padding: 50px 0;
}

.mb-20 {
  margin-bottom: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.br-5 {
  border-radius: 5px;
}

.p-15 {
  padding: 15px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

/* ----- RESET ----- */

a {
  text-decoration: none;
}

.li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ----- DEFAULT ----- */

.container {
  width: 1024px;
  margin: 0 auto;
}

.overflow-hidden {
  overflow: hidden;
}

section {
  background-color: #fafafa;
}

.bg-silver {
  background-color: #cad1d9;
}
/* ----- HEADER ----- */

header {
  box-shadow: 1px 1px 5px #888888;
  height: 60px;
}

.header--menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.header--menu img {
  height: 48px;
  cursor: pointer;
}

.header--menu--left {
  display: flex;
  align-items: center;
}

.header--menu--left li {
  margin-right: 20px;
}

.header--publish--offer {
  height: 39px;
  width: 204px;
  background-color: #f56b2a;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  outline: none;
}

.header--publish--offer:hover {
  background-color: #c0562b;
}

.header--person {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.header--search--button {
  height: 46px;
  width: 120px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 4px solid #f56b2a;
  margin-top: 15px;
  outline: none;
}

/* ----- OFFERS -> SEARCHBOX ----- */

.search--box {
  width: 870px;
  height: 130px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.search--box form {
  display: flex;
}

.search {
  width: 250px;
  display: flex;
  background-color: #f4f6f7;
  padding: 10px;
  margin-right: 20px;
}

.search--box--input--price {
  background-color: #f4f6f7;
  border: none;
  font-size: 15px;
  outline: none;
  padding-left: 5px;
  margin-right: 20px;
  width: 75px;
}

.search--box--input--sort {
  background-color: #f4f6f7;
  border: none;
  font-size: 15px;
  outline: none;
  padding-left: 5px;
  margin-right: 20px;
  width: 120px;
}

.search--button--blue {
  height: 44px;
  width: 220px;
  background-color: #4183d7;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
}

.search input {
  border: none;
  background-color: #f4f6f7;
  margin-left: 10px;
  font-size: 16px;
  outline: none;
}

/* ----- OFFERS -> OFFERS ----- */

.offers img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

article {
  height: 150px;
}

.offers .offers--description {
  flex: 1;
}

.offers article {
  display: flex;
}

.offers--inside--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offers--title {
  font-size: 22px;
  color: black;
}

.offers--price {
  font-size: 20px;
  color: #f56b2a;
}

.offers--date {
  color: black;
}

/* ----- OFFERS -> PAGES ----- */

.offers--array--pages {
  color: #336699;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.offers--array--pages p {
  cursor: pointer;
}

.selected--page {
  background-color: #f56a29;
  color: white;
  text-align: center;
  line-height: 25px;
  width: 25px;
}

/* ----- OFFER -> AD ----- */
.offer {
  background-color: #fafafa;
  margin-top: 1rem;
}

.offer img {
  height: 394px;
  object-fit: cover;
}

.offer > div {
  display: flex;
}

.offer--article {
  flex: 1;
  margin: 0 1rem 0 0;
}

.offer--back--image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.offer--infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 213px;
  padding-left: 2rem;
}

.offer--infos > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.offer--title {
  font-size: 26px;
}

.offer--price {
  font-size: 20px;
  color: #f5773c;
}

/* ----- OFFER -> USER ----- */
aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
}

.offer--infos--user {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.offer--infos--user span {
  font-size: 23px;
  font-weight: bold;
}

.offer--infos--user a {
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  color: #4282d7;
}

.offer--buy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 230px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f56a29;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.offer--buy svg {
  padding-right: 16px;
}

/* ----- MODAL ----- */

.modal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.modal--close {
  display: flex;
  justify-content: flex-end;
}

.modal--content {
  height: 504px;
  width: 714px;
  background: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid red;
}

.modal--container {
  width: 600px;
  margin: 0 auto;
}

.modal--title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 3px solid #f56a29;
  padding-bottom: 20px;
}

.modal--form input {
  height: 44px;
  width: 600px;
  border: 1px solid #d9e0eb;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.modal--form p {
  font-weight: 700;
}

.modal--input--button {
  width: 100%;
  height: 44px;
  background: #4183d7;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0;
}

.modal--bottom p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.modal--bottom button {
  width: 100%;
  height: 44px;
  background: white;
  border: 1px solid #4183d7;
  border-radius: 5px;
  color: #4183d7;
  font-size: 16px;
  font-weight: 700;
}

/* ----- SIGN UP ----- */

.signup--inside {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.signup--left {
  padding: 0 20px 20px 20px;
  width: 55%;
}

.signup--watch {
  display: flex;
  margin-bottom: 40px;
}

.signup--logo--inside {
  width: 50px;
  display: flex;
  justify-content: center;
}

.signup--txt--inside {
  margin-left: 50px;
}

.signup--mini--title {
  margin-top: 0;
  font-weight: 700;
}

.signup--right {
  padding: 0 20px 20px 20px;
  width: 45%;
}

.signup--right h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #f56a29;
}

.signup--right p {
  font-weight: bold;
}

.signup--pseudo--email input {
  width: 100%;
  height: 44px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.signup--mdp {
  display: flex;
  justify-content: space-between;
}

.signup--mdp input {
  height: 44px;
  border-radius: 5px;
  width: 198px;
  font-size: 20px;
  outline: none;
}

.signup--button-created input {
  width: 100%;
  height: 44px;
  background-color: #4183d7;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

.signup--checkbox {
  margin: 20px 0;
}
.signup--error--log {
  color: #f56a29;
}

/* ----- PUBLISH ----- */
.publish {
  width: 355px;
  margin: 50px auto;
}

.publish--inside h2 {
  text-align: center;
  border-bottom: 3px solid #f56a29;
  padding-bottom: 20px;
  padding-top: 20px;
}
.publish--title,
.publish--description,
.publish--price,
.publish--picture,
p {
  font-weight: bold;
}

.publish--title input {
  width: 350px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid silver;
  font-size: 16px;
  outline: none;
}

.publish--description textarea {
  max-width: 600px;
  width: 350px;
  height: 139px;
  border-radius: 5px;
  border: 1px solid silver;
  font-size: 16px;
  outline: none;
}

.publish--price input {
  width: 165px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid silver;
  font-size: 16px;
  outline: none;
}

.publish--submit input {
  width: 350px;
  height: 44px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  background-color: #4183d7;
  margin: 30px 0;
}

/* ----- FOOTER ----- */

footer {
  text-align: center;
  background-color: grey;
  line-height: 60px;
  color: white;
}
