.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.white {
  background-color: white;
}

.pv-50 {
  padding: 50px 0;
}

.mb-20 {
  margin-bottom: 20px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.br-5 {
  border-radius: 5px;
}

.p-15 {
  padding: 15px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

a {
  text-decoration: none;
}
.overflow-hidden {
  overflow: hidden;
}

section {
  background-color: #fafafa;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

header {
  box-shadow: 1px 1px 5px #888888;
  height: 60px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.menu--left {
  display: flex;
  align-items: center;
}

.menu--left li {
  margin-right: 20px;
}

.menu--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.menu img {
  height: 48px;
  cursor: pointer;
}

.publish--offer {
  height: 39px;
  width: 204px;
  background-color: #f56b2a;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.search--button {
  height: 46px;
  width: 120px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 4px solid #f56b2a;
  margin-top: 15px;
}

.search--button--blue {
  height: 44px;
  width: 220px;
  background-color: #4183d7;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.search--box {
  width: 768px;
  height: 130px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 250px;
  display: flex;
  background-color: #f4f6f7;
  padding: 10px;
  margin-right: 30px;
}

.search input {
  border: none;
  background-color: #f4f6f7;
  margin-left: 10px;
  font-size: 16px;
}

.pages {
  display: flex;
}

.bg-silver {
  background-color: #cad1d9;
}

.offers img {
  width: 200px;
  height: 150px;
  object-fit: contain;
}

article {
  height: 150px;
}

.offers .description {
  flex: 1;
}

.offers article {
  display: flex;
}

.title {
  font-size: 22px;
  color: black;
}

.price {
  font-size: 20px;
  color: #f56b2a;
}

.date {
  color: black;
}

.inside--description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  text-align: center;
  background-color: grey;
  line-height: 60px;
  color: white;
}

.array--pages {
  color: #336699;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.array--pages p {
  cursor: pointer;
}

.img img {
  height: 400px;
}

.img {
  flex: 1;
}

.offer {
  background-color: #fafafa;
  margin-top: 1rem;
}

.offer > div {
  display: flex;
}
.offer article {
  flex: 1;
  margin: 0 1rem 0 0;
}

.article {
  flex: 1;
  margin: 0 1rem 0 0;
}

.back-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.offer img {
  height: 394px;
  object-fit: cover;
}

.offer-infos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 213px;
  padding-left: 2rem;
}

.offer-infos > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.offer-title {
  font-size: 26px;
}

.offer-price {
  font-size: 20px;
  color: #f5773c;
}

.offer-description p {
  font-size: 19px;
}

.infos-user {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.infos-user span {
  font-size: 23px;
  font-weight: bold;
}

.infos-user a {
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
  color: #4282d7;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 200px;
}

.pay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 230px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f56a29;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.pay svg {
  padding-right: 16px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #474747;
  color: white;
}

.footer span {
  padding-right: 30px;
}

.selected--page {
  background-color: #f56a29;
  color: white;
  text-align: center;
  line-height: 25px;
  width: 25px;
}

.modal--container {
  width: 600px;
  margin: 0 auto;
}

.modal--content {
  height: 504px;
  width: 714px;
  background: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px solid red;
}

.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  border-bottom: 3px solid #f56a29;
  padding-bottom: 20px;
}

.form--modal input {
  height: 44px;
  width: 600px;
  border: 1px solid #d9e0eb;
  border-radius: 5px;
  font-size: 20px;
}

.form--modal p {
  font-weight: 700;
}

.input--button {
  width: 100%;
  height: 44px;
  background: #4183d7;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  margin: 30px 0;
}

.modal--bottom p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
}

.modal--bottom button {
  width: 100%;
  height: 44px;
  background: white;
  border: 1px solid #4183d7;
  border-radius: 5px;
  color: #4183d7;
  font-size: 16px;
  font-weight: 700;
}

.modal {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
}

.modal--close {
  display: flex;
  justify-content: flex-end;
}

.part {
  display: flex;
  margin-bottom: 68px;
}

.text h4 {
  margin-top: 0;
}

.text {
  width: 450px;
}

.form {
  font-weight: 700;
}

.pseudoemail {
  margin-left: 15px;
}

.logo {
  width: 70px;
  justify-content: center;
  display: flex;
}

.inside--signup {
  display: flex;
  width: 100%;
  margin: 30px 0;
}

.left--signup {
  padding: 0 20px 20px 20px;
  width: 55%;
}

.right--signup {
  padding: 0 20px 20px 20px;
  width: 45%;
}

.right--signup h2 {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 3px solid #f56a29;
}

.right--signup p {
  font-weight: bold;
}

.pseudo-email input {
  width: 100%;
  height: 44px;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
}

.mdp {
  display: flex;
  justify-content: space-between;
}

.mdp input {
  height: 44px;
  border-radius: 5px;
  width: 198px;
  font-size: 20px;
  outline: none;
}

/* .checkbox {
  width: 0;
  height: 0;
} */

.left--signup h2 {
  margin-bottom: 40px;
}

.watch {
  display: flex;
  margin-bottom: 40px;
}

.mini-title {
  margin-top: 0;
  font-weight: 700;
}

.txt--inside {
  margin-left: 50px;
}

.logo--inside {
  width: 50px;
  display: flex;
  justify-content: center;
}

.button-created {
  margin: 40px 0;
}

.button-created input {
  width: 100%;
  height: 44px;
  background-color: #4183d7;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  border: none;
  font-weight: bold;
}

.checkbox {
  margin: 20px 0;
}
.error-log {
  color: #f56a29;
}
